:root{
  --blue:rgb(61,90,254);
  --light-blue:rgb(33,150,243);
} 
 

body{
  background: rgb(20,20,20);
  height: 100vh;

  display: flex;
  justify-content: center;
  flex-direction: column; 
  margin: 0px
}


.link{
  border-top: 1px solid rgba(255,255,255,0.5);
  color: white;
  display: block;
 
  font-size: clamp(2em,8vw,7em) ; 
  padding: clamp(0.25em,1vw,1em) clamp(1em,4vw,4em);
  text-decoration: none;
  position: relative;
}

.link:hover:before{
  transition: width 500ms ease;
  width:100%;
}

.link:before{
  background: linear-gradient(
    to right,
    transparent,
    var(--blue),
    var(--light-blue)
  );
  content: "";
  position: absolute;
  top:0px;
  left:0px;
  height:100%;
  width: 0%;
}

.link:nth-child(3){
  border-bottom: 1px solid rgba(255,255,255,0.5);
}